@import url(intity_clases.css);

:root {
    --color_1: #FCC6FF;
    --color_2: #F8B55F;
    --color_3: #3d365c;


    --h1: 4.778rem;
    --h2: 3.981rem;
    --h3: 3.318rem;
    --h4: 2.765rem;
    --h5: 2.304rem;
    --h6: 1.92rem;
    --p-large: 1.6rem;
    --a: 1.6rem;
    --p-medium: 1.333rem;
    --p-small: 1.111rem;
}

.bg-color {
    background-color: var(--color_3);
}


.hero-container {
    padding-bottom: 3rem;
    height: 100%;

}

.content {
    width: 45%;
}

.hero_image {
    max-width: 400px;
    justify-content: end;
    overflow: hidden;
}

.hero_image .img {
    width: 100%;

}

.about_person {
    text-transform: uppercase;
}

.h1_span {
    color: var(--color_2);
}

.content_tital {
    position: relative;

}

.content_tital::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    top: 120px;
    left: 0px;
    z-index: 11;
    background-color: var(--color_2);
}


/* status */
.status__box {
    max-width: 250px;
    width: 100%;
    height: 15rem;
    padding: 2rem 3rem;
}

.status__project {
    border-left: 4px solid #ffbb00c4;
    border-right: 4px solid #ffbb00c4;
}

/* skills */
.skills-container .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boxes .box {
    padding: 2rem 3rem;
    transition: all .3s;
}

.boxes .box:hover {
    transform: scale(1.04);
}

.boxes .box:nth-child(odd) {
    margin: 1rem 0;
}

.box_img {
    width: 60px;
    background-size: cover;
    background-position: center;
}


/* our team */
.team-con {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.team-con__content .team__content {
    margin-bottom: .7rem;
}

.team-con__image {
    height: 18rem;
    height: 17rem;
    transition: all .3s;
}
.team:hover .team-con__image{
    transform: scale(1.03);
}

.team-con__image .img {
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* fotm */
.form{
    width: 400px;
}
.my__address a,.my__phone a ,.my__email a {
    color: var(--color_2);
    text-align: start;
}
.form input , .form .textarea {
    width: 100%;
    outline: transparent;
    outline: transparent;
    padding: 1.3rem;
    border-radius: .4rem;
}

.form input:focus,
.form .textarea:focus{
    border: 2px solid var(--color_2);
}

.form .form_btn{
    border: none;
    padding: 1.3rem;
    border-radius: 5px;
    background-color: #F8B55F;
    color: #fff;
    cursor: pointer;
}

.form .form_btn:hover{
    background-color: #f8b65fc7;
    
}
/* @madia 1100px */
@media screen and (max-width: 1100px) {
    :root {
    --h1: 4rem;
    --h2: 3.981rem;;
    --h6: 1.92rem;
}
    .hero_image {
            max-width: 400px;
    }

    .content {
        width: 55%;
    }
       .content_tital::after {
        top: calc(100% - -10px);
    }
}

/* @madia 900px */
@media screen and (max-width: 900px) {
    :root {
    --h1: 3.3rem;
    --h2: 2.3rem;
    --h6: 1.6rem;
    --p-large:1.3rem;
}

    .skills-container .boxes {
        width: 100%;
        justify-content: center;
        align-items: center;
        grid-template-columns:250px 250px;
        gap: 2rem;
    }

    .boxes .box:nth-child(odd) {
        margin: 0;
    }
     
    /* team */
    .team-con {
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
    }

}

/* @madia 556px */

@media screen and (max-width:768px) {
:root {
    --h1: 3rem;
    --h2: 2.3rem;
    --h6: 1.6rem;
    --p-large:1.3rem;
}

    .hero-container {
        flex-direction: column;
    }

    .hero_image {
        max-width: 300px;
    }
    .content {
        width: 90%;
        align-items: center;
    }

    .content_tital {
        text-align: center;
    }

    .content_description {
        max-width: 70ch;
        text-align: center;
    }


    .content_tital::after {
        left: calc(50% - 50px);
    }
    /* skills */
    .skills-container .boxes {
        width: 100%;
        justify-content: center;
        align-items: center;
        grid-template-columns:250px 250px;
        gap: 2rem;
    }

    
    /* team */
    .team-con {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 3rem;
        row-gap: 2rem;
    }

    /* form */
  
    .contect__body {
        flex-direction: column;
    }.contect__body__left .about__me {
        text-align: center;
    }



}
@media screen and (max-width:600px) {
    
/* status */
.status__box {
    max-width: 300px;
    width: 100%;
    height: 15rem;
    padding: 2rem 1rem;
}

/* skills */
    .skills-container .boxes {
        grid-template-columns:300px;
        gap: 2rem;
    }
/* status-container */
.status-container{
    flex-direction: column;
}
.status__project {
    border-left: 0px;
    border-right: 0px;
    border-top: 4px solid #ffbb00c4;
    border-bottom: 4px solid #ffbb00c4;
}


/* team con */
.team-con__image {
    height: 12rem;
    transition: all .3s;
}

}
@media screen and (max-width:556px) {

    .content {
        width: 100%;
    }

    .hero_image {
        width: 100%;
    }
}
@media screen and (max-width:415px) {
    /* team */
    .team {
        gap:1rem;
    }
    /* team con */
.team-con__image {
    height: 9rem;
    transition: all .3s;
}
    
    /* form */
  .form {
        width: 300px;
    }
}